* {
    margin: 0;
    
}

body {

    margin: 0;
}

header {
    background-color:#0085ca;
    width: 100%;
    margin: 0;
    padding-bottom: 0;
}


.logo_principal {
    width:1000
}